@media only screen and (min-width: 768px) and (max-width: 1023px) {
/*Common css start*/
.main { width:100%;}
.main_inr{ padding:0px 12px;}


/*Top css start*/
.logo{ width:170px; margin-left:0px;}
.top_right{ width:71%;}
.nav li{ padding-right:13px;}
.nav{ width:60%;}
.dcr_box{ width:34%;}
.country_drop{ width:34px;}
.top_box{ padding-bottom:25px;}
.call_box{ width:143px; float:right; font-size:17px;}

/*Banner and form css*/
.form_box{ width:40%;}
.banner{ width:60%;}
.banner_thum1, .banner_thum2, .banner_thum3, .banner_thum4{ display:none;} 
.banner_cont{ width:460px;}
.banner_cont h2{ font-size:32px; line-height:32px;}

/*Home content css*/
.now_online .hd_text{ font-size:18px;}
.now_online .hd_text span{ font-size:21px;}
.reviews_cont .cont .hdtext{ font-size:18px;}
.cr_text .text_box{ width:83%;}

/*Footer css*/
.ftr_left{ width:85%;}
.ftr_copyright{ width:44%; font-size:11px;}
.ftr_link{ width:48%;}
.ftr_btm_link{ width:56%;}
.ftr_btm_link li{ font-size:11px;}
}

@media only screen and (max-width: 767px) {
/*Common css start*/
.main { width:100%;}
.main_inr{ padding:0px 12px;}


/*Top css start*/
.logo{ width:150px; margin-left:0px;}
.top_right{ width:71%;}
.nav li{ padding-right:10px;}
.nav{ width:100%; float:left; padding-top:10px;}
.signin_box{ padding-top:5px;}
.top_right{ width:100%;}
.dcr_box{ width:100%;}
.top_box{ padding-bottom:15px;}
.call_box{ width:143px; float:right; font-size:17px;}

/*Banner and form css*/
.form_box{ width:100%; }
.banner{ width:100%; margin-bottom:20px; display:none; }

.main_form{ width:100%;}
.form_two{ width:auto;}
.form_cont{ padding-left:5px;}

/*Home content css*/
.reviews_cont .cont .hdtext{ font-size:16px; padding-bottom:8px;}
.reviews_cont .cont .sub_hd{ font-size:13px;}
.reviews_cont .cont p{ font-size:12px;}
.reviews_cont{ padding-bottom:15px; padding-left:0px;}
.cr_text .text_box{ width:83%;}
.people_saving{ width:100%; background:none; border-bottom:#e0e0e0 1px solid; margin-bottom:15px;}
.customer_reviews{ width:100%;}
.cr_text .arrow_box{ margin:0 8px 0 0; width:16px;}
.now_online{ width:100%;}
.shortlisted_box{ width:100%;}
.now_online .hd_text{ font-size:16px; padding-left:0px; margin-bottom:10px;}
.now_online .hd_text br{ display:none;}
.now_online .hd_text span{ font-size:18px; display:block;}

.shortlisted_cont{ width:100%;}
.shortlisted_cont p{ padding-bottom:15px;}
.short_insurers_slider{ width:250px;}
.bx-wrapper .bx-next{ right:-24px;}
.bx-wrapper .bx-prev{ left:-24px;}

/*Footer css*/
.footer{ padding:15px 0px;}
.ftr_top{ padding-bottom:5px;}
.ftr_left{ width:100%; padding-top:10px;}
.ftr_copyright{ width:44%; font-size:11px;}
.ftr_link{ width:100%; margin-bottom:10px;}
.ftr_link h3{ width:100%; padding-bottom:4px;}
.ftr_btm_link{ width:56%;}
.ftr_link ul{ margin-top:8px; }
.ftr_link ul li{ width:50%;}
.ftr_btm_link li{ font-size:11px; padding:0px 5px; }
.ftr_btm_link{ width:100%; padding-bottom:10px;}
.ftr_copyright{ width:100%;}
}
