@import url(../fonts/fonts.css);
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.webr {
	font-family: 'WebRupee';
	display: inline-block;
 *display: inline;
	zoom: 1;
	padding: 0 2px;
	line-height:28px;
}
.line_box {
	width:100%;
	height:4px;
	overflow:hidden;
}
.yellow_line {
	width:50%;
	float:left;
	height:4px;
	background:#f5922a;
}
.bule_line {
	width:50%;
	float:left;
	height:4px;
	background:#2875ba;
}
/*Common css start*/
#wappper {
	width:100%;
	height:auto;
	margin:0px auto;
}
.main_box {
	width:100%;
	height:auto;
}
.main {
	width:1000px;
	height:auto;
	margin:0px auto;
}
.main_inr {
	padding:0px;
}
/*Top css start*/
.top_box {
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:40px;
}
.logo {
	width:228px;
	height:auto;
	margin:14px 0px 0px 8px;
	float:left;
}
.logo img {
	width:100%;
}
.top_right {
	width:60%;
	height:auto;
	float:right;
	padding-top:14px;
	overflow:hidden;
}
.nav {
	/*width:63%;*/
	height:auto;
	float:right;
}
.nav li {
	float:left;
	padding-right:23px;
}
.nav li a {
	font-size:11px;
	color:#878787;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.nav li a:hover {
	color:#f59129;
}
.nav li a.active {
	color:#f59129;
}
.dcr_box {
	width:37%;
	height:auto;
	float:right;
	overflow:hidden;
}
.country_drop {
	width:60px;
	float:left;
}
.flag_icon {
	width:23px;
	height:auto;
}
.call_box {
	width:162px;
	float:left;
	font-size:19px;
	color:#2875ba;
	font-weight:bold;
}
.call_box span {
	width:25px;
	margin-right:8px;
}
.signin_box {
	width:100%;
	float:left;
	padding-top:10px;
	text-align:right;
	font-size:11px;
	color:#f5922a;
	font-weight:bold;
	text-transform:uppercase;
}
.signin_box a {
	color:#f5922a;
	text-decoration:none;
}
/*Banner and form css*/
.banner_form {
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:20px;
}
.banner {
	width:70%;
	float:left;
}
.banner_cont {
	width:705px;
	height:397px;
	background-size:cover;
	background:url(../images/banner-bg.jpg) no-repeat 0px 0px;
	position: relative;
}
.banner_cont h2 {
	font-size:43px;
	line-height:45px;
	color:#f8b134;
	text-transform:uppercase;
	padding:40px 0 0 30px;
}
.banner_cont h2 span {
	color:#f5922a;
}
.thum_box {
}
.thum_box h3 {
	font-size:17px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	padding-bottom:5px;
}
.thum_box p {
	font-size:15px;
	color:#fff;
	text-align:center;
}
.banner_thum1 {
	width:155px;
	height:90px;
	padding-top:30px;
	background:url(../images/banner-thum1-bg.png) repeat 0px 0px;
	position:absolute;
	right:115px;
	top:0px;
	z-index:1;
}
.banner_thum2 {
	width:138px;
	height:120px;
	padding-top:30px;
	background:url(../images/banner-thum2-bg.png) repeat 0px 0px;
	position:absolute;
	right:0px;
	top:99px;
	z-index:1;
}
.banner_thum3 {
	width:155px;
	height:126px;
	padding-top:30px;
	background:url(../images/banner-thum3-bg.png) repeat 0px 0px;
	position:absolute;
	right:129px;
	top:155px;
	z-index:1;
}
.banner_thum4 {
	width:150px;
	height:95px;
	border-bottom-right-radius:5px;
	padding-top:40px;
	background:url(../images/banner-thum4-bg.png) repeat 0px 0px;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
}
.banner img {
	width:100%;
}
.form_box {
	width:27%;
	float:right;
}
.form_cont {
	padding-right:5px;
}
/*Form css start*/

.main_form {
	width:260px;
	float:right;
	clear:both;
	border-radius:10px;
	-webkit-box-shadow: 0px 1px 6px 0 rgba(219, 219, 219, 1);
	-moz-box-shadow: 0px 1px 6px 0 rgba(219, 219, 219, 1);
	box-shadow:0px 1px 6px 0 rgba(219, 219, 219, 1);
	border:solid 1px #dfdfdf;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.form_one {
	float:left;
	background:url(../images/form_headerbg.jpg) left top repeat-x;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#f5912a;
	padding:8px 15px;
	border-radius:10px 10px 0 0;
}
.form_two {
	width:230px;
    height:320px;
	float:left;
	background:url(../images/form_headercont.jpg) left top repeat-x;
	padding:0 15px;
	border-radius:0 0 10px 10px;
}
.form_two h2 {
    font-size: 1.5em;
    margin: 10px;
    color: #2875ba
}
.row_one {
	width:100%;
	float:left;
	padding:16px 0 0 0;
}
.row_one label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#5f5f5f;
}
.row_one img {
	padding:0 2px 0 0;
}
.selectbar {
	width:100%;
	float:left;
	margin:8px 0 0 0;
}
.row_two {
	width:100%;
	float:left;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:#5f5f5f;
	padding:15px 0 10px 0;
}
.row_three {
	width:100%;
	float:left;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	color:#5f5f5f;
	padding:0 0 10px 0;
}
.t_left {
	width:50%;
	float:left;
}
.t_right {
	width:50%;
	float:left;
}
.row_four {
	width:100%;
	float:left;
	margin:8px 0 18px 0;
}
.row_four a {
	text-align:center;
	width:100%;
	background:#f5912a;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	line-height:40px;
	height:40px;
	border-radius:3px;
}
.widget_box {
	height: auto;
	padding-top:8px;
}
.ui-autocomplete-input {
	width:81%;
	padding:0px 5px;
	height:23px;
	color:##5f5f5f!important;
	box-shadow:inset 0 0 3px 3px #efefef;
	border:#e0e0e0 1px solid!important;
	font-family:Arial, Helvetica, sans-serif!important;
	float:left;
}
button.ui-button-icon-only {
	width:30px!important;
	height:25px;
	background:url(../images/widget-arrow.jpg) no-repeat 0px 0px;
	float:left;
}
.ui-state-default .ui-icon {
	background:none!important;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
	padding:0px!important;
}
.date_box {
	width:100%;
	padding-top:8px;
}
#datepicker {
	width:94%;
	padding:0px 5px;
	height:23px;
	color:##5f5f5f!important;
	border-radius:4px;
	box-shadow:inset 0 0 3px 3px #efefef;
	border:#e0e0e0 1px solid!important;
	font-family:Arial, Helvetica, sans-serif!important;
}
/*Home content css*/
.reviews_box {
	width:100%;
	height:auto;
	padding:15px 0px;
	overflow:hidden;
}
.reviews_bg {
	background:#f9f9f9;
}
.people_saving {
	width:39%;
	height:auto;
	float:left;
	background:url(../images/divider-bg.jpg) repeat-y top right;
}
.customer_reviews {
	width:61%;
	height:auto;
	float:right;
}
.reviews_cont {
	padding:0px 0px 20px 18px;
}
.reviews_cont .cont .hdtext {
	font-size:19px;
	color:#2875ba;
	padding-bottom:15px;
	padding-right:10px;
}
.reviews_cont .cont .sub_hd {
	font-size:15px;
	color:#7a7a7a;
	padding-bottom:3px;
}
.reviews_cont .cont .sub_hd em {
	color:#3c3c3c;
	font-weight:bold;
}
.reviews_cont .cont .sub_hd span {
	color:#4084c0;
}
.reviews_cont .cont p {
	font-size:14px;
	color:#4a4848;
}
.cr_text {
	width:100%;
	overflow: hidden;
}
.cr_text .arrow_box {
	width:36px;
	margin:0px 20px 0px 10px;
	float:left;
}
.cr_text .arrow_box img {
	width:100%;
}
.cr_text .text_box {
	width:86%;
	float:left;
}
.renewbuy {
	width:100%;
	height:auto;
	overflow:hidden;
	padding:30px 0 35px 0px;
}
.now_online {
	width:23%;
	float:left;
}
.now_online .hd_text {
	padding-left:18px;
	font-size:20px;
	color:#606060;
}
.now_online .hd_text span {
	font-size:23px;
	color:#2875ba;
	font-weight:bold;
}
.shortlisted_box {
	width:77%;
	float:left;
}
.shortlisted_cont {
	width:555px;
	margin:0px auto;
}
.shortlisted_cont p {
	font-size:17px;
	color:#2875ba;
	padding-bottom:25px;
	text-align:center;
}
.short_insurers_slider {
	width:500px;
	height:auto;
	margin:0px auto;
}
.ticker_lft .bx-controls-direction {
	display:none;
}
.ticker_lft {
	width:90%;
}
.ticker_rit .bx-controls-direction {
	display:none;
}
.ticker_rit {
	width:100%;
}
/*Additional details css start*/
.information_box {
	width:100%;
	padding-bottom:20px;
}
.detail_tab {
	width:100%;
	height:46px;
	background:#f7f7f7;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:40px;
}
.detail_tab li {
	float:left;
	padding-left:25px;
}
.detail_tab li a {
	padding:0px 12px;
	height:51px;
	line-height:62px;
	display:block;
	font-size:12px;
	color:#000000;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
	top:-6px;
}
.detail_tab li a span {
	color:#8a8a8a;
	font-size:28px;
	font-weight:bold;
	line-height:51px!important;
}
.detail_tab li a.active {
	background:#FFF;
	border-left:#d3d3d3 1px solid;
	border-top:#d3d3d3 1px solid;
	border-right:#d3d3d3 1px solid;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.detail_tab li a.active span {
	color:#f5912a!important;
}
.required_details {
	width:100%;
	height:auto;
}
.required_details h3 {
	padding:0px 0 10px 25px;
	font-size:20px;
	color:#2875ba;
	text-transform:uppercase;
}
.details_acc {
	width:100%;
	height:auto;
}
.details_acc h4 {
	height:48px;
	margin-bottom:7px;
	line-height:48px;
	padding-left:25px;
	background:#f5912a url(../images/acc-arrow.png) no-repeat 97% 15px;
	font-size:17px;
	color:#ffffff;
	text-transform:uppercase;
	cursor:pointer;
	border-radius:5px;
}
.details_acc h4 span {
	font-size:20px;
	font-weight:bold;
}
.details_acc h4.active {
	background:#f5912a url(../images/acc-arrow.png) no-repeat 97% -28px!important;
}
.acc_box {
	width:100%;
	height:auto;
	margin-bottom:8px;
	display:none;
}
.acc_cont {
	background:#f7f7f7;
	border-radius:5px;
	border:#eaeaea 1px solid;
	padding:25px;
}
.btn_box {
	width:100%;
	padding-top:15px;
	overflow:hidden;
}
.btn {
	height:37px;
	line-height:37px;
	padding:0px 32px;
	display:inline-block;
	overflow:hidden;
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	border-radius:5px;
	background:url(../images/btn-bg.png) repeat-x 0px 0px;
}
/*Compare chose css start*/


.compare_chose {
	width:100%;
}
.lowest_text {
	width:23px;
	height:auto;
	position:absolute;
	left:-9px;
	top:67px;
	z-index:1;
}
.lowest_text img {
	width:100%;
}
.register_information {
	width:99%;
	background:#fefaf5;
	border:solid 1px #eeeeee;
	border-radius:5px;
	overflow:hidden;
}
.register_in {
	width:95%;
	margin:0 auto;
	padding:10px 0;
	overflow:hidden;
}
.r_one {
	width:31%;
	font-size:13px;
	line-height:20px;
	color:#646464;
	float:left;
}
.r_one em {
	color:#f5922a;
	font-weight:bold;
	
}
.r_one label {
	padding:0 15px 0 5px;
}
.r_one li{ padding:0px 0 5px 0; overflow:hidden;}
.r_one li .text_box{ width:44%; float:left;}
.r_one li .date_text{ width:56%; float:left;}
.width27{ width:27%!important;}
.width73{ width:73%!important;}
.date_text .date_box{ width:87%; padding-top:0px;}
.date_text .ui-autocomplete-input{ width:62%;}
.date_text .widget_box{ padding-top:0px;}
.date_edit{ display: none;}
.submit{ display:none;}

.register_table {
	width:100%;
	padding:17px 0 0 0;
	position:relative;
}
.white_bar {
	background:#FFF;
	border-bottom:solid 1px #eaeaea;
	border-left:solid 1px #eaeaea;
	border-right:solid 1px #eaeaea;
	color:#1b1b1b;
	font-size:15px;
	font-weight:bold;
}
.gray_bar {
	background:#f7f7f7;
	border-bottom:solid 1px #eaeaea;
	border-left:solid 1px #eaeaea;
	border-right:solid 1px #eaeaea;
	color:#1b1b1b;
	font-size:15px;
	font-weight:bold;
}
.orange_bar {
	background:#f5912a;
	border-bottom:solid 1px #eaeaea;
	border-left:solid 1px #eaeaea;
	border-right:solid 1px #eaeaea;
	color:#FFF;
	font-size:15px;
	font-weight:bold;
}
.blue_s {
	color:#3a7abb;
	font-size:11px;
}
.blur_text {
	color:#2875ba;
}
.gray_s {
	color:#575757;
	font-size:11px;
	text-decoration:underline;
	padding:0 10px 0 0;
	background:url(../images/rectangle_1.png) no-repeat right 2px;
}
.pad_top {
	padding-top:5px;
}
.rupe_f {
	font-family:'WebRupee';
}
.no_claim {
	width:20%;
	float:left;
	padding:0 0 0 15px;
}
.no_clam_select {
	position:relative;
	width:115px;
}
.no_clam_select select {
	background: #ffffff;
	border: 1px solid #d8d5d0;
	border-radius: 5px;
	color: #fdab09;
	cursor: pointer;
	display: block;
	font-size: 12px;
	height: 23px;
	margin: 0;
	outline: medium none;
	padding: 3px 1px 3px 2px;
	width:115px;
}
.no_clam_select:before {
	background: url("../images/drop-no-clam.png") no-repeat scroll 100% 0;
	content: "";
	display: block;
	height: 21px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 22px;
}
.no_clam_select:after {
	background: url("../images/drop-no-clam.png") no-repeat scroll 100% 0;
	color: #aaa;
	content: "";
	padding: 0 0 20px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
}
.no_claim label {
	padding:0 0 4px 0;
	color:#646464;
	display:block;
}
.n_inp {
	width:90%;
	height:20px;
}
.modify_btn {
	width:15%;
	float:right;
	padding-top:10px;
}
.odd_bg {
	background:#fbfbfb;
}
.even_bg {
	background:#f3f3f3!important;
}
.table_hd {
	background: url(../images/orange_arrow.jpg) no-repeat right 6px;
	padding-right:23px;
}
.ie_icon {
	width:12px;
	position:relative;
	top:-10px;
	left:10px;
}
.ie_icon a {
	width:12px;
	height:13px;
	background:url(../images/ie_icon.png) no-repeat 0px 0px;
	display: inline-block;
}
.ie_icon a:hover {
	background:url(../images/ie_hover.png) no-repeat 0px 0px;
}
.border_box {
	border:#eaeaea 1px solid;
}
.ie_box {
	width:150px;
	height:auto;
	position:absolute;
	left:20px;
	top:-10px;
	z-index:99;
	border-radius:5px;
	background:#fefaf5;
	display:none;
}
.ie_cont {
	padding:15px 10px;
	border:#f5912a 1px solid;
	border-radius:5px;
	text-align:left;
	position:relative;
}
.ie-arrow {
	width:12px;
	height:7px;
	position:absolute;
	left:-12px;
	top:12px;
	z-index:9;
	background:url(../images/ie-arrow.png) no-repeat 0px 0px;
}
.ie_cont li {
	overflow:hidden;
	padding-bottom:3px;
}
.ie_cont li .list_box {
	float:left;
	width:50%;
	text-align:right;
	font-size:12px;
	color:#222222;
}
.ie_cont li .price_box {
	float:right;
	width:40%;
	text-align:right;
	font-size:12px;
	color:#222222;
}
.disc_color {
	color:#f5912a!important;
}
.disc_sub {
	color:#908e8b!important;
}
.dep_color {
	color:#636363!important;
}
.total_color {
	color:#3175b8!important;
	padding-top:5px;
}
.bor_total {
	border-top:#f5912a 1px solid;
}
/*Overlay css start*/
.overlay {
	width:100%;
	height:100%;
	position:fixed;
	background:url(../images/overlay-bg.png) repeat 0px 0px;
	z-index:999999999;
	left:0px;
	top:0px;
	text-align:center;
	display:none;
}
.popup_box {
	width:700px;
	height:auto;
	margin:-135px auto;
	top:50%;
	background:#FFF;
	position:relative;
}
.popup_cont {
	padding:30px 70px;
	text-align:left;
}
.popup_hdtext {
	width:100%;
	overflow:hidden;
	padding-bottom:25px;
}
.popup_hdtext .text_hd {
	width:55%;
	float:left;
	font-size:16px;
	font-weight:bold;
	color:#8a8a8a;
	text-transform: uppercase;
}
.popup_hdtext .radio_box {
	width:30%;
	float:left;
}
.popup_hdtext .radio_box table td {
	font-size:17px;
	color:#fdb32e;
	font-weight:bold;
}
.popup_cont p {
	font-size:13px;
	color:#434343;
	font-weight:bold;
	padding-bottom:5px;
	text-transform:uppercase;
}
.popup_cont li {
	padding:0px 0 5px 15px;
	font-size:15px;
	color:#8a8a8a;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bullet-icon.jpg) no-repeat 0px 5px;
}
.close_btn {
	width:37px;
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
	z-index:1;
}
.close_btn img {
	width:100%;
}
.continue_btn {
	width:100%;
	text-align:center;
	padding-bottom:40px;
}
.rdo_box div.radio span {
	background-image: url("../images/zero-radio-icon.jpg")!important;
}
.radio_box div.radio {
	width: 28px!important;
	height: 26px!important;
}
.radio_box div.radio span {
	width: 28px!important;
	height: 26px!important;
}
.radio_box div.radio input {
	width: 28px!important;
	height: 26px!important;
}
.rdo_box div.radio span {
	background-position: 0 0px;
}
.rdo_box div.radio span.checked {
	background-position: 0px -34px!important;
}
.oth_dist div.checker span {
	background-image: url("../images/check-btn.png")!important
}
.want_zero div.checker span {
	background-image: url("../images/want-check-btn.png")!important;
}
.want_zero div.checker, div.checker span, div.checker input {
	width: 28px!important;
	height:27px!important;
}
.want_zero div.checker span.checked {
	background-position: 0px -33px!important;
}
/*Get Discount css start*/
.get_discount {
	width:1000px;
	height:auto;
	position:fixed;
	right:-860px;
	top:400px;
	z-index:9999;
	background:#f7f4ef;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);
	overflow:hidden;
}
.get_dst_cont {
	overflow:hidden;
}
.discount_btn {
	width:13%;
	float:left;
}
.discount_btn a {
	height:97px;
	padding:60px 0 0 34px;
	display:block;
	background:#f5912a url(../images/get-dst-btn.jpg) no-repeat 14px 75px;
	font-size:17px;
	color:#fff;
	font-weight:bold;
	border-radius:8px;
	text-decoration:none;
}
.active_arrow {
	background:#f5912a url(../images/get-dst-btn-active.jpg) no-repeat 14px 75px!important;
}
.discount_cont {
	width:87%;
	height:127px;
	float:left;
	margin:15px 0px;
	background:#ffffff;
	overflow:hidden;
}
.discount_cont ul {
	margin-left:15px;
}
.discount_cont li {
	float:left;
	margin-right:50px;
	padding-top:15px;
}
.discount_cont li .get_hd {
	width:100%;
	height:auto;
	font-size:17px;
	font-weight:bold;
	color:#50504e;
	padding-bottom:10px;
}
.discount_cont li .get_cont {
	width:100%;
	height:auto;
	overflow: hidden;
}
.oth_dist {
	width:137px;
	overflow: hidden;
	float:left;
}
.oth_dist table td {
	font-size:11px;
	color:#949494;
}
.pad_rit {
	padding-right:1px;
}
.get_hdbg {
	background: url("../images/drop-no-clam.png") no-repeat scroll 121px 2px;
}
.select {
	position:relative;
	width:90px;
}
.select select {
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
	color: #fdab09;
	cursor: pointer;
	display: block;
	font-size: 12px;
	height: 30px;
	margin: 0;
	outline: medium none;
	padding: 3px 1px 3px 2px;
	width:90px;
}
.select:before {
	background: url("../images/drop-arrow.png") no-repeat scroll 100% 0;
	content: "";
	display: block;
	height: 28px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 22px;
}
.select:after {
	background: url("../images/drop-arrow.png") no-repeat scroll 100% 0;
	color: #aaa;
	content: "";
	padding: 0 0 20px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
}
/*Overlay payment css start*/
.overlay_payment {
	width:100%;
	height:100%;
	position:fixed;
	background:url(../images/overlay-bg.png) repeat 0px 0px;
	z-index:999999999;
	left:0px;
	top:0px;
	text-align:center;
}
.payment_popup {
	width:940px;
	height:auto;
	margin:100px auto;
	background:#f5f4f4;
	position:relative;
}
.review_cont {
	padding:30px 30px;
	text-align:left;
}
.review_cont h3 {
	font-size:18px;
	font-weight:bold;
	color:#8a8a8a;
	padding-bottom:20px;
	text-transform:uppercase;
}
.customer_box {
	width:100%;
	background:#ffffff;
}
.customer_cont {
	padding:30px;
}
.review_text {
	width:100%;
}
.review_text h4 {
	font-size:16px;
	font-weight:bold;
	color:#ffb736;
	padding-bottom:15px;
	line-height:11px;
}
.review_text h4 span {
	font-size:18px!important;
}
.scroll_box {
	width:100%;
}
.review_btm {
	width:100%;
	overflow:hidden;
	padding-top:15px;
}
.review_btm_lft {
	width:30%;
	float:left;
}
.review_btm_rit {
	width:30%;
	float:right;
	text-align:right;
	font-size:12px;
	color:#297cc7;
	font-weight:bold;
}
.review_btm_rit a {
	color:#297cc7;
	text-decoration:underline;
}
/* Tiny Scrollbar */
#scrollbar1 {
	width: 100%;
}
#scrollbar1 .viewport {
	width: 95%;
	height:300px;
	overflow: hidden;
	position: relative;
}
#scrollbar1 .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#scrollbar1 .scrollbar {
	background: transparent url(../images/bg-scrollbar-track-y.jpg) repeat-y 0 0;
	position: relative;
	background-position: 0 0;
	float: right;
	width: 10px;
	border-radius:4px;
}
#scrollbar1 .thumb {
	background: transparent url(../images/bg-scrollbar-thumb-y.jpg) no-repeat 50% 100%;
	height:44px;
	width:10px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0px;
}
#scrollbar1 .thumb .end {
	background: transparent url(../images/bg-scrollbar-thumb-y.jpg) no-repeat 50% 0;
	overflow: hidden;
	height: 5px;
	width: 10px;
}
#scrollbar1 .disable {
	display: none;
}
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
/*Footer css start*/
.footer {
	width:100%;
	height:auto;
	overflow:hidden;
	padding:30px 0 40px 0;
}
.footer_bg {
	background:#ebebeb;
}
.ftr_left {
	width:80%;
	height:auto;
	float:left;
}
.ftr_top {
	width:100%;
	padding-bottom:15px;
	overflow:hidden;
}
.ftr_link {
	width:38%;
	height:auto;
	float:left;
	overflow:hidden;
}
.ftr_link h3 {
	width:68%;
	font-size:11px;
	font-weight:bold;
	color:#818181;
	text-transform:uppercase;
	padding-bottom:9px;
	border-bottom:#b4b4b4 1px solid;
}
.ftr_link ul {
	padding:0px;
	margin:15px 0px 0px 0;
}
.ftr_link ul li {
	width:46%;
	float:left;
	padding:0 0px 5px 0;
}
.ftr_link ul li a {
	font-size:11px;
	color:#818181;
	text-transform:uppercase;
	text-decoration:none;
}
.ftr_bottom {
	width:100%;
	overflow:hidden;
}
.ftr_copyright {
	width:40%;
	height:auto;
	float:left;
	font-size:12px;
	color:#363636;
	text-transform:uppercase;
}
.ftr_copyright span {
	color:#ff841c;
}
.ftr_btm_link {
	width:60%;
	height:auto;
	float:right;
	overflow:hidden;
}
.ftr_btm_link li {
	float:left;
	padding:0px 9px;
	color:#ff841c;
	text-transform:uppercase;
	font-size:12px;
}
.ftr_btm_link li a {
	color:#ff841c;
	text-decoration:none;
}
.ftr_right {
	width:100px;
	margin-right:8px;
	height:auto;
	float:right;
}
.social_btn {
	width:100%;
	overflow:hidden;
}
.social_btn li {
	width:30px;
	margin-right:3px;
	float:left;
}
.social_btn li img {
	width:100%;
}

.page-header {
    margin-bottom: 15px;
}

.page-title {
    font-size: 22px;
}
.page-subtitle {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

.page-content {
    font-size: 16px;
    line-height: 1.3;
}

.page-content ol li {
    list-style-type: decimal;
}

.page-content ul li {
    list-style-type: disc;
}

.page-content ul, .page-content ol {
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.page-content p {
    margin-bottom: 15px;
}

.page-content table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.page-content table td, .page-content table th {
    padding: 2px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
}
