<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
    <head>

    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{page.title}} | {% endif %}
        {{ site.title }} - RenewBuy
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="html">

    <!-- Mobile Specific Metas
      ================================================== -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- CSS
      ================================================== -->
    <link rel="stylesheet" href="/common/css/min.css">
    <link rel="stylesheet" href="/common/css/style_main.css">
    <link rel="stylesheet" href="/common/css/responsive.css">
    <link rel="stylesheet" href="/common/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/common/css/uniform.default.css">
    <link rel="stylesheet" href="/common/css/jquery-ui.css">
    <link rel="stylesheet" href="/common/css/jquery.ui.datepicker.css">

    <!--[if lt IE 8]>
           <div style=' clear: both; text-align:center; position: relative;'>
             <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
               <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
          </div>
        <![endif]-->

    <!--[if lt IE 9]>
            <script src="/common/js/html5.js"></script>
            <script src="/common/js/css3-mediaqueries.js"></script>
        <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57859131-2', 'auto');
        ga('require', 'linkid', 'linkid.js');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

    </head>

    <body>
        <div id="wappper">
          <div class="line_box">
            <div class="yellow_line"></div>
            <div class="bule_line" ></div>
          </div>
          
          <!--Top Box html start-->
          <div class="main_box">
            <div class="main">
              <div class="main_inr">
                <div class="top_box">
                  <div class="logo"><a href="/"><img src="/common/images/logo.jpg"  alt="renewbuy"></a></div>
                  <div class="top_right">
                    <!--
                    <div class="dcr_box">
                      <div class="country_drop">
                        <div class="flag_icon"><img src="/common/images/flag-icon.jpg" width="23" height="16" alt="Flag"></div>
                      </div>
                      <div class="call_box"><span><img src="/common/images/call-img.jpg"  alt=""></span>080-12345678</div>
                      <div class="signin_box"> <a href="#">Register</a> / <a href="#">sign in</a></div>
                    </div>
                    -->
                    <div class="nav">
                      <ul>
                        <li><a href="/info/about">about renewbuy </a></li>
                        <li><a href="/info/faq">FAQs</a></li>
                        <!--
                        <li><a href="/info/contact">contact us</a></li>
                        -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Top Box html end--> 
  
          {{ content }}

  <!--Footer  html start-->
  <div class="main_box footer_bg">
    <div class="main">
      <div class="main_inr">
        <div class="footer">
          <div class="ftr_right">
            <div class="social_btn">
              <ul>
                <li><a href="http://twitter.com/renewbuy" target=_blank><img src="/common/images/t-icon.jpg"  alt="Twitter"></a></li>
                <!--
                <li><a href="http://facebook.com/renewbuy" target=_blank><img src="/common/images/f-icon.jpg"  alt="Facbook"></a></li>
                <li><a href="#" target=_blank><img src="/common/images/in-icon.jpg"  alt="LinkedIn "></a></li>
                -->
              </ul>
            </div>
          </div>
          <div class="ftr_left">
            <!--
            <div class="ftr_top">
              <div class="ftr_link">
                <h3>want more?</h3>
                <ul>
                  <li><a href="#">why renewbuy </a></li>
                  <li><a href="#">support </a></li>
                  <li><a href="#">our partners </a></li>
                  <li><a href="#">blog</a></li>
                </ul>
              </div>
              <div class="ftr_link">
                <h3>Inside renewbuy</h3>
                <ul>
                  <li><a href="/about">about us </a></li>
                  <li><a href="#">news</a></li>
                  <li><a href="#">press release</a></li>
                  <li><a href="#">people behind renewbuy</a></li>
                  <li><a href="#">careers </a></li>
                  <li><a href="/contact">contact us</a></li>
                </ul>
                <ul>
                </ul>
              </div>
            </div>
            -->
            <div class="ftr_bottom">
              <!--
              <div class="ftr_btm_link">
                <ul>
                  <li><a href="#">Terms of use</a></li>
                  <li>|</li>
                  <li><a href="#">Disclaimer </a></li>
                  <li>|</li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
              -->
              <div class="ftr_copyright"><span>©</span> Renewbuy.com. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer  html end--> 
  
        </div>
    </body>

</html>
