<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>renewbuy</title>
<meta name="description" content="html">
<meta name="author" content="html">

<!-- Mobile Specific Metas
  ================================================== -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="common/css/min.css">
<link rel="stylesheet" href="common/css/style_main.css">
<link rel="stylesheet" href="common/css/responsive.css">
<link rel="stylesheet" href="common/css/jquery.bxslider.css">
<link rel="stylesheet" href="common/css/uniform.default.css">
<link rel="stylesheet" href="common/css/jquery-ui.css">
<link rel="stylesheet" href="common/css/jquery.ui.datepicker.css">

<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->

<!--[if lt IE 9]>
		<script src="common/js/html5.js"></script>
		<script src="common/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
<div id="wappper">
  <div class="line_box">
    <div class="yellow_line"></div>
    <div class="bule_line" ></div>
  </div>
  
  <!--Top Box html start-->
  <div class="main_box">
    <div class="main">
      <div class="main_inr">
        <div class="top_box">
          <div class="logo"><a href="#"><img src="common/images/logo.jpg"  alt="renewbuy"></a></div>
          <div class="top_right">
            <!--
            <div class="dcr_box">
              <div class="country_drop">
                <div class="flag_icon"><img src="common/images/flag-icon.jpg" width="23" height="16" alt="Flag"></div>
              </div>
              <div class="call_box"><span><img src="common/images/call-img.jpg"  alt=""></span>080-12345678</div>
              <div class="signin_box"> <a href="#">Register</a> / <a href="#">sign in</a></div>
            </div>
            -->
            <div class="nav">
              <ul>
                <li><a href="#" class="active">Get quote</a></li>
                <li><a href="#">about renewbuy </a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Top Box html end--> 
  
  <!--Banner and Form html start-->
  <div class="main_box">
    <div class="main">
      <div class="main_inr">
        <div class="banner_form"> 
          
          <!--Banner html start-->
          <div class="banner">
            <div class="banner_cont">
              <h2>Car insurance<br>
                <span>Simplified</span></h2>
              <div class="banner_thum1 thum_box">
                <h3>Get insured</h3>
                <p>by leading<br>
                  insurers</p>
              </div>
              <div class="banner_thum2 thum_box">
                <h3>Save on<br>
                  Premiums</h3>
                <p>Check our deals<br>
                  and discounts</p>
              </div>
              <div class="banner_thum3 thum_box">
                <h3>Simple <br>
                  & Easy</h3>
                <p>3 step process <br>
                  to buy</p>
              </div>
              <div class="banner_thum4 thum_box">
                <h3>Claim Assist</h3>
                <p>With our 24X7 <br>
                  Support</p>
              </div>
            </div>
          </div>
          <!--Banner html end-->
          
          <div class="form_box">
            <div class="form_cont"> 
              <!--Form html start-->
              <div class="main_form">
                <div class="form_one">Enter your details to view the best Car Insurance policies</div>
                <div class="form_two">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h2>Launching Soon...</h2>
                </div>
              </div>
              <!--Form html end--> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Banner and Form html start--> 
  
  <!--Reviews html start
  <div class="main_box reviews_bg">
    <div class="main">
      <div class="main_inr">
        <div class="reviews_box">
          <div class="people_saving">
            <div class="reviews_cont">
              <div class="cont">
                <div class="hdtext">People are saving on premium right now</div>
                <div class="ticker_lft">
                  <ul id="ticker_lft" class="bxSlider">
                    <li>
                      <div class="sub_hd"><em>Rajiv Seghal,</em> Alto800, <span>Hyderabad</span></div>
                      <p>saved Rs. 1000, 5 minutes back ….</p>
                    </li>
                    <li>
                      <div class="sub_hd"><em>Rajiv Seghal,</em> Alto800, <span>Hyderabad</span></div>
                      <p>saved Rs. 1000, 5 minutes back ….</p>
                    </li>
                    <li>
                      <div class="sub_hd"><em>Rajiv Seghal,</em> Alto800, <span>Hyderabad</span></div>
                      <p>saved Rs. 1000, 5 minutes back ….</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="customer_reviews">
            <div class="reviews_cont">
              <div class="cont">
                <div class="hdtext">Customer Reviews</div>
                <div class="ticker_rit">
                  <ul id="ticker_rit" class="bxSlider">
                    <li>
                      <div class="cr_text">
                        <div class="arrow_box" ><img src="common/images/reviews-arrow.jpg"  alt="arrow"></div>
                        <div class="text_box">
                          <div class="sub_hd"><em>Amit singh,</em> Alto800, <span>Hyderabad</span></div>
                          <p>Gud job guys i like the policy of renewbuy i can save every year thnks renewbuy.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="cr_text">
                        <div class="arrow_box" ><img src="common/images/reviews-arrow.jpg"  alt="arrow"></div>
                        <div class="text_box">
                          <div class="sub_hd"><em>Amit singh,</em> Alto800, <span>Hyderabad</span></div>
                          <p>Gud job guys i like the policy of renewbuy i can save every year thnks renewbuy.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="cr_text">
                        <div class="arrow_box" ><img src="common/images/reviews-arrow.jpg"  alt="arrow"></div>
                        <div class="text_box">
                          <div class="sub_hd"><em>Amit singh,</em> Alto800, <span>Hyderabad</span></div>
                          <p>Gud job guys i like the policy of renewbuy i can save every year thnks renewbuy.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  Reviews html start--> 
  
  <!--Specialized Motor  html start-->
  <div class="main_box ">
    <div class="main">
      <div class="main_inr">
        <div class="renewbuy">
          <div class="now_online">
            <div class="hd_text" >RenewBuy<br>
              Specialized Motor <br>
              Insurance Experts.<br>
              <span>Now Online!</span></div>
          </div>
          <div class="shortlisted_box">
            <div class="shortlisted_cont">
              <p>RenewBuy Shortlisted Insurers</p>
              <div class="short_insurers_slider">
                <ul id="shortlisted_insurers" class="bxSlider">
                  <li><img src="common/images/hdfcergo.jpg" alt="HDFC-ERGO"></li>
                  <li><img src="common/images/bagi.png" alt="Bharti-Axa"></li>
                  <li><img src="common/images/bagic.jpg" alt="Bajaj-Allianz"></li>
                  <li><img src="common/images/libvid.gif" alt="Liberty-Videocon"></li>
                  <li><img src="common/images/iffco.png" alt="Iffco-Tokio"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Specialized Motor  html end--> 
  
  <!--Footer  html start-->
  <div class="main_box footer_bg">
    <div class="main">
      <div class="main_inr">
        <div class="footer">
          <div class="ftr_right">
            <div class="social_btn">
              <ul>
                <li><a href="#"><img src="common/images/t-icon.jpg"  alt="Twitter"></a></li>
                <li><a href="#"><img src="common/images/f-icon.jpg"  alt="Facbook"></a></li>
                <li><a href="#"><img src="common/images/in-icon.jpg"  alt="LinkedIn "></a></li>
              </ul>
            </div>
          </div>
          <div class="ftr_left">
            <div class="ftr_top">
              <div class="ftr_link">
                <h3>want more?</h3>
                <ul>
                  <li><a href="#">why renewbuy </a></li>
                  <li><a href="#">support </a></li>
                  <li><a href="#">our partners </a></li>
                  <li><a href="#">blog</a></li>
                </ul>
              </div>
              <div class="ftr_link">
                <h3>Inside renewbuy</h3>
                <ul>
                  <li><a href="#">about us </a></li>
                  <li><a href="#">news</a></li>
                  <li><a href="#">press release</a></li>
                  <li><a href="#">people behind renewbuy</a></li>
                  <li><a href="#">careers </a></li>
                  <li><a href="#">contact us</a></li>
                </ul>
                <ul>
                </ul>
              </div>
            </div>
            <div class="ftr_bottom">
              <div class="ftr_btm_link">
                <ul>
                  <li><a href="#">Terms of use</a></li>
                  <li>|</li>
                  <li><a href="#">Disclaimer </a></li>
                  <li>|</li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
              <div class="ftr_copyright"><span>© 2013-2014</span> Renewbuy.com. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer  html end--> 
  
</div>

<!-- js start...........................--> 
<script type="text/javascript" src="common/js/jquery.min.js"></script> 
<script type="text/javascript" src="common/js/jquery.bxslider.min.js"></script> 
<script type="text/javascript" src="common/js/all_jq.js"></script> 
<script src="common/js/jquery.uniform.min.js"></script> 
<script src="common/js/jquery-ui.min.js"></script> 
<script src="common/js/jquery.ui.datepicker.js"></script> 
<script type="text/javascript">
	(function($) {
		$.widget("ui.combobox", {
			_create: function() {
				
				
                         
				
				var self = this;
				var select = this.element.hide();
				var selected = select.children(":selected");
                var value = selected.val() ? selected.text() : "Select";
				var input = $("<input>").val(value)
					.insertAfter(select)
					.autocomplete({
						source: function(request, response) {
							var matcher = new RegExp(request.term, "i");
							response(select.children("option").map(function() {
								var text = $(this).text();
								if (this.value && (!request.term || matcher.test(text)))
									return {
										id: this.value,
										label: text.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(request.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>"),
										value: text
									};
							}));
						},
						delay: 0,
						change: function(event, ui) {
							if (!ui.item) {
								// remove invalid value, as it didn't match anything
								$(this).val("");
								return false;
							}
							select.val(ui.item.id);
							self._trigger("selected", event, {
								item: select.find("[value='" + ui.item.id + "']")
							});
							
						},
						minLength: 0
					})
					.addClass("ui-widget ui-widget-content ui-corner-left");
				$("<button>&nbsp;</button>")
				.attr("tabIndex", -1)
				.attr("title", "Show All Items")
				.insertAfter(input)
				.button({
					icons: {
						primary: "ui-icon-triangle-1-s"
					},
					text: false
				}).removeClass("ui-corner-all")
				.addClass("ui-corner-right ui-button-icon")
				.click(function() {
					// close if already visible
					if (input.autocomplete("widget").is(":visible")) {
						input.autocomplete("close");
						return;
					}
					// pass empty string as value to search for, displaying all results
					input.autocomplete("search", "");
					input.focus();
				});
			}
		});

	})(jQuery);
		
	$(function() {
		$("#combobox").combobox();
		$("#toggle").click(function() {
			$("#combobox").toggle();
		});
		

	});
	$(function() {
		$("#combobox2").combobox();
		$("#toggle2").click(function() {
			$("#combobox2").toggle();
		});
	});
	</script> 
<script type="text/javascript">
	$(function() {
		$('#datepicker').datepicker({
			 changeMonth: true,
        changeYear: true,
        yearRange: '2005:2030',
        dateFormat : 'dd-mm-yy',
        defaultDate: new Date(2013, 00, 01)
		});
		
		 $('.ui-widget input').each(function(){    
            var default_value = 'Select'; 
			
		
            $(this).focus(function() {
                if($(this).val() == default_value)
                {
                     $(this).val("");
                }
            }).blur(function(){
            
				if($(this).val().length == 0) /*Small update*/
                {
                    $(this).val(default_value);
                }
            });
        });
	});
	</script>
</body>
</html>
